:root {
    --tile-size: 130px;
    --board-size: calc(6*var(--tile-size) + 50px);
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: var(--board-size);
    height: var(--board-size);
    perspective: 800px;
}

board.solved {
    filter: blur(3px);
}

.tile.tile  {
    background: gray;
    width: var(--tile-size);
    height: var(--tile-size);
    transform-style: preserve-3d;
    transform-origin: right center;
    transition: transform 1s;
}

.tile.flipped {
    transform: translateX(-100%) rotateY(180deg);
}

.tile.found {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translateX(-100%) rotateY(180deg);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(calc(-100% - 1px)) rotateY(180deg);
  }

  20%, 80% {
    transform: translateX(calc(-100% + 2px)) rotateY(180deg);
  }

  30%, 50%, 70% {
    transform: translateX(calc(-100% - 4px)) rotateY(180deg);
  }

  40%, 60% {
    transform: translateX(calc(-100% + 4px)) rotateY(180deg);
  }
}

figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    color: white;
    text-align: center;
    font-size: 50px;
    line-height: var(--tile-size);
}

figure.front {
    background-image: url("../image/wish.png");
    transform: rotateY(180deg);
}

figure.back {
    background: blue;
}

.tile.id-0 figure.front {
    background-position: calc(var(--tile-size) * -0) 0;
}

.tile.id-1 figure.front {
    background-position: calc(var(--tile-size) * -1) 0;
}

.tile.id-2 figure.front {
    background-position: calc(var(--tile-size) * -2) 0;
}

.tile.id-3 figure.front {
    background-position: calc(var(--tile-size) * -3) 0;
}

.tile.id-4 figure.front {
    background-position: calc(var(--tile-size) * -4) 0;
}

.tile.id-5 figure.front {
    background-position: calc(var(--tile-size) * -5) 0;
}

.tile.id-6 figure.front {
    background-position: calc(var(--tile-size) * -6) 0;
}

.tile.id-7 figure.front {
    background-position: calc(var(--tile-size) * -7) 0;
}

.tile.id-8 figure.front {
    background-position: calc(var(--tile-size) * -8) 0;
}

.tile.id-9 figure.front {
    background-position: calc(var(--tile-size) * -8) 0;
}

.tile.id-10 figure.front {
    background-position: calc(var(--tile-size) * -10) 0;
}

.tile.id-11 figure.front {
    background-position: calc(var(--tile-size) * -11) 0;
}

.tile.id-12 figure.front {
    background-position: calc(var(--tile-size) * -12) 0;
}

.tile.id-13 figure.front {
    background-position: calc(var(--tile-size) * -13) 0;
}

.tile.id-14 figure.front {
    background-position: calc(var(--tile-size) * -14) 0;
}

.tile.id-15 figure.front {
    background-position: calc(var(--tile-size) * -15) 0;
}

.tile.id-16 figure.front {
    background-position: calc(var(--tile-size) * -16) 0;
}

.tile.id-17 figure.front {
    background-position: calc(var(--tile-size) * -17) 0;
}

.tile.id-18 figure.front {
    background-position: calc(var(--tile-size) * -18) 0;
}

.tile.id-19 figure.front {
    background-position: calc(var(--tile-size) * -19) 0;
}

.tile.id-20 figure.front {
    background-position: calc(var(--tile-size) * -20) 0;
}

.tile.id-21 figure.front {
    background-position: calc(var(--tile-size) * -21) 0;
}

.tile.id-22 figure.front {
    background-position: calc(var(--tile-size) * -22) 0;
}

.tile.id-23 figure.front {
    background-position: calc(var(--tile-size) * -23) 0;
}

.tile.id-24 figure.front {
    background-position: calc(var(--tile-size) * -24) 0;
}

.tile.id-25 figure.front {
    background-position: calc(var(--tile-size) * -25) 0;
}

.tile.id-26 figure.front {
    background-position: calc(var(--tile-size) * -26) 0;
}

.tile.id-27 figure.front {
    background-position: calc(var(--tile-size) * -27) 0;
}

.tile.id-28 figure.front {
    background-position: calc(var(--tile-size) * -28) 0;
}

.tile.id-29 figure.front {
    background-position: calc(var(--tile-size) * -29) 0;
}

.tile.id-30 figure.front {
    background-position: calc(var(--tile-size) * -30) 0;
}

.tile.id-31 figure.front {
    background-position: calc(var(--tile-size) * -31) 0;
}

.tile.id-32 figure.front {
    background-position: calc(var(--tile-size) * -32) 0;
}

.tile.id-33 figure.front {
    background-position: calc(var(--tile-size) * -33) 0;
}

.tile.id-34 figure.front {
    background-position: calc(var(--tile-size) * -34) 0;
}

.tile.id-35 figure.front {
    background-position: calc(var(--tile-size) * -35) 0;
}

div.wish {
    display: none;
}

div.wish.solved {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    padding-top: 200px;
}