:root {
    --tile-size: 100px;
    --board-size: calc(4*var(--tile-size) + 50px);
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-bewteen;
    width: var(--board-size);
    height: var(--board-size);
}

.tile {
    border-style: solid;
    border-width: 1px;
    border-color: red;
    background: gray;
    width: var(--tile-size);
    height: var(--tile-size);
}